.search-user-card {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 12px;
  text-decoration: none;
  transition: background 0.25s ease;

  &:hover {
    background: #7704c9;
  }

  .user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .display-name {
      font-size: 16px;
      font-weight: 600;
      color: white;
      margin: 0;
    }

    .username {
      font-size: 14px;
      color: white;
      margin: 2px 0 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
