.app_loader {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: monospace;
}